/* ===== GRID PRINCIPAL ===== */
body {
  display: grid;
  grid-template-areas: 
    "top"
    "header"
    "nav"
    "category"
    "aside"
    "main"
    "footer";
  max-width: auto;
  margin:  0;
font-family: 'Times New Roman', Times, serif
}
top { grid-area: top; }
header { grid-area: header; }
nav { grid-area: nav; }
category { grid-area: category; }
aside { grid-area: aside; }
main { grid-area: main; }
footer { grid-area: footer; }

/* ===== BIEVENIDA ===== */
/* TÍTULO PRINCIPAL */
.titulo {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 3rem;
  font-weight: bold;;
}

/* SUBTÍTULO */
.subtitulo {
  font-family: Georgia, serif;
  font-size: 1.2rem;
  color: #555;
}

/* CONTENEDOR */
#bienvenida {
  text-align: center;
  padding: 1rem 0;
  border-top: 2px solid black;
  border-bottom: 1px solid #ccc;
}

/* ===== HEADER ===== */
header {    
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0.5rem 0;
}

header a {
  color: black;
  text-decoration: none;
  padding: 0.75rem 1.125rem;
  transition: 0.3s;
}

header a:hover {
  background: #9897ed;
  border-radius: 8px;
}

/* ===== NAV ===== */
nav {
  background: #fcfcfc;
  padding: 1rem 15rem;
  display: flex;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 1.2rem;
  justify-content: center;
  gap: 2rem;
}
/* =====category */
category {
  background: #b5b5b5;
  color: #fff;
  font: 1.4rem "Times New Roman", Georgia, serif;
  padding: 1rem 15rem;
  text-align: center;
}

/* ===== ASIDE ===== */
aside {
  background: #f0f0f0;
  padding: 1rem 15rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
aside ul {
  display: flex;
  gap: 1rem;
  list-style: none; /* quita los puntos */
  padding: 0;
}
/* ===== PRODUCTOS ===== */
.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 2rem 15rem 2rem 15rem;
}

.product {
  border: 1px solid #ddd;
  padding: 1.5rem;
  text-align: center;
  background: #fbfbfb;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product img {
  width: 12rem;
  height: 16rem;
  object-fit: cover;
  margin: 0 auto;
}

/* ===== BOTÓN ===== */
.buy-button {
  background: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.buy-button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid black;
}
/* ===== DATOS DE COMPRA ===== */
.datos-button {
  background: rgb(255, 255, 255);
  color: rgb(226, 224, 224);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
}
.select
    {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    }
/* ===== FOOTER ===== */
footer {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 2rem;
  text-align: center;
}

footer form {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer input {
  padding: 0.5rem;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  border: none;
}

footer button {
  padding: 0.75rem 1.5rem;
  background: #555;
  color: white;
  border: none;
  border-radius: 4px;
}

#compra-main {
    text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {

  /* GRID en columna */
  body {
  display: grid;
  grid-template-areas: 
    "top"
    "header"
    "nav"
    "category"
    "aside"
    "main"
    "footer";
  max-width: auto;
  margin:  0;
  }

  nav {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

 category {
    padding: 1rem;
    text-align: center;
    background-color: #8d8888 ;
    color: #fff;
  }
  aside {
    padding: 1rem;
  }
  .categorias {
    padding: 1rem;
  }
  aside ul {
    flex-direction: column;
    align-items: center;
  }

 
  .productos {
    grid-template-columns: 1fr;
    padding: 1rem;
    
  }


  .product img {
    width: 100%;
    height: auto;
  }


  header {
    flex-direction: column;
    align-items: center;
  }



}